In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df.head()

   gender  age  workout_experience  workout_time  weight  height  fitness_goal
0       0   45                   3           120      93     179             1
1       0   44                   4           120      35     185             0
2       0   23                   2           120      65     195             0
3       1   20                   0           120      38     181             0
4       1   62                   6           120      44     155             0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              904 non-null    int64
 1   age                 904 non-null    int64
 2   workout_experience  904 non-null    int64
 3   workout_time        904 non-null    int64
 4   weight              904 non-null    int64
 5   height              904 non-null    int64
 6   fitness_goal        904 non-null    int64
dtypes: int64(7)
memory usage: 49.6 KB

In [5]:
df.shape

(904, 7)

In [6]:
x = df[['gender', 'age', 'workout_experience', 'workout_time', 'weight', 'height']]
y = df['fitness_goal']

In [30]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 10)

In [31]:
from sklearn.linear_model import LogisticRegression 

model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [32]:
y_pred = model.predict(x_test)

In [33]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test,y_pred)
print('Accuracy :',score)

Accuracy : 0.6263736263736264