In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [14]:
df = pd.read_csv('cleaned_data.csv')

In [15]:
df.head()

   gender  age  workout_experience  workout_time  weight  height  fitness_goal
0       0   45                   3           120      93     179             1
1       0   44                   4           120      35     185             0
2       0   23                   2           120      65     195             0
3       1   20                   0           120      38     181             0
4       1   62                   6           120      44     155             0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              904 non-null    int64
 1   age                 904 non-null    int64
 2   workout_experience  904 non-null    int64
 3   workout_time        904 non-null    int64
 4   weight              904 non-null    int64
 5   height              904 non-null    int64
 6   fitness_goal        904 non-null    int64
dtypes: int64(7)
memory usage: 49.6 KB

In [17]:
df.shape

(904, 7)

In [18]:
df.describe()

,gender,age,workout_experience,workout_time,weight,height,fitness_goal
count,904.000000,904.000000,904.000000,904.000000,904.000000,904.000000,904.000000
mean,0.461283,41.371681,5.463496,89.469027,66.308628,177.163717,0.472345
std,0.498775,13.895238,3.382712,30.011905,18.624603,15.943483,0.499511
min,0.000000,18.000000,0.000000,60.000000,35.000000,150.000000,0.000000
25%,0.000000,29.000000,3.000000,60.000000,49.000000,164.000000,0.000000
50%,0.000000,42.000000,5.000000,60.000000,67.000000,177.000000,0.000000
75%,1.000000,53.000000,8.000000,120.000000,83.000000,191.000000,1.000000
max,1.000000,65.000000,11.000000,120.000000,98.000000,205.000000,1.000000

In [19]:
scaler = StandardScaler()
features = ['gender', 'age', 'workout_experience', 'workout_time', 'weight', 'height']

df[features] = scaler.fit_transform(df[features])

In [25]:
df.head()

,gender,age,workout_experience,workout_time,weight,height,fitness_goal
0,-0.925345,0.261264,-0.728664,1.017859,1.433918,0.115238,1
1,-0.925345,0.189257,-0.432879,1.017859,-1.681967,0.491776,0
2,-0.925345,-1.322889,-1.024448,1.017859,-0.070302,1.119339,0
3,1.080678,-1.538909,-1.616017,1.017859,-1.520800,0.240751,0
4,1.080678,1.485382,0.158690,1.017859,-1.198467,-1.390912,0

In [20]:
x = df[['gender', 'age', 'workout_experience', 'workout_time', 'weight', 'height']]
y = df['fitness_goal']

In [21]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 10)

In [22]:
from sklearn.linear_model import LogisticRegression 

model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [23]:
y_pred = model.predict(x_test)

In [24]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test,y_pred)
print('Accuracy :',score)

Accuracy : 0.5824175824175825